/* ---------------------------------------------------------------------
Original Author: **withheld**
Contributors: N/A

Target Browsers: IE7, IE6
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* Bicubic resizing for non-native sized IMG */
img {
    -ms-interpolation-mode: bicubic;
}

audio, canvas, video {
    display: inline;
    zoom: 1;
}

.blocks,
.grid-row,
.media {
	overflow: hidden;
}

/* Icons */
.nav-main li > a,
.article-cat,
.link-more,
.link-more-alt,
.hdg-block a { position: relative; }

.link-more,
.link-more-alt,
.hdg-block a { padding-right: 10px; }

.icon-nav-arrow {
	position: absolute;
	float: none;
	margin: 0;
	padding: 0;
	top: 2px;
	right: -11px;
	background-position: -66px 0;
}

.icon-cat-arrow {
	position: absolute;
	top: 0;
	right: -15px;
}

.icon-more-arrow,
.icon-more-arrow-rev,
.icon-more-arrow-dk {
	position: absolute;
	top: 2px;
	right: 0;
}

/* Buttons */
.btn {
	padding-left: 0;
	padding-right: 12px;
}

.btn-icon {
	padding-left: 12px;
	width: 142px;
}

/* Header */
.toolbox { width: 460px; }

/* Featured Section */
.media-feat { margin-bottom: 20px; }

.promo-feat {
	height: 250px;
	margin-bottom: 18px;
}

/* Ribbon */
.ribbon { border: none; }

/* Category List */
.column-wrap { margin-left: 25px; }