/* ---------------------------------------------------------------------
Original Author: **withheld**
Contributors: N/A

Target Browsers: IE7, IE6
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* Bicubic resizing for non-native sized IMG */
img {
    -ms-interpolation-mode: bicubic;
}

audio, canvas, video {
    display: inline;
    zoom: 1;
}

/* Header */
.toolbox { width: 460px; }

/* Correct Icons */
.nav-main li > a,
.article-cat,
.link-more { position: relative; }

.link-more { padding-right: 10px; }

.icon-nav-arrow {
	position: absolute;
	float: none;
	margin: 0;
	padding: 0;
	top: 0;
	right: -11px;
	background-position: -66px 0;
}

.icon-cat-arrow {
	position: absolute;
	top: 0;
	right: -15px;
}

.icon-more-arrow {
	position: absolute;
	top: 0;
	right: 0;
}

/* Correct Featured Section */
.media-feat { margin-bottom: 20px; }