/* ---------------------------------------------------------------------
Original Author: **withheld**
Contributors: N/A

Target Browsers: IE8, IE7, IE6
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* Fallbacks for rgba colors */
.sep-bottom { border-bottom: 1px solid #E1E1E1; }
.hdg-sep-featured { border-bottom: 2px solid #E0575A; }
.hdg-sep-primary { border-bottom: 2px solid #BFDA5E; }
.hdg-block-tertiary { background: #E6E3FA; }
.hdg-sep-tertiary { border-bottom: 2px solid #E6E3FA; }
.nav-main { background: #152313; }
.comment-count a { color: #666666; }
.column-sep { border-left: 1px solid #e5e5e5; }
.footer .h-list-piped li + li { border-left: 1px solid #3e3e3e; }

.ribbon {
	border-left: 2px solid #5D5C5A;
	border-right: 2px solid #5D5C5A;
}

