/* ---------------------------------------------------------------------
Original Author: **withheld**
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
    overflow-y: scroll;
}

/* Don't let iOS and WinMobile mobile-optimize text for you */
/* Turn this rule on for mobile sites or sites using mediaqueries */
/*
html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
*/

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Grid Styles
------------------------------------------------------------------------ */
.grid-row { margin-bottom: 15px; }

.grid-col {
    float: left;
    position: relative;
}

.grid-col + .grid-col { margin-left: 2.6%; }

.grid-col-last { float: right; }

/* Columns */
.grid-col-1  { width: 5.888%; }
.grid-col-2  { width: 14.444%; }
.grid-col-3  { width: 23%; }
.grid-col-4  { width: 31.555%; }
.grid-col-5  { width: 40.111%; }
.grid-col-6  { width: 48.666%; }
.grid-col-7  { width: 57.222%; }
.grid-col-8  { width: 65.777%; }
.grid-col-9  { width: 74.333%; }
.grid-col-10 { width: 82.888%; }
.grid-col-11 { width: 91.444%; }
.grid-col-12 { width: 100%; }

/* Push */
.grid-push-1  { left: 5.888%; }
.grid-push-2  { left: 14.444%; }
.grid-push-3  { left: 23%; }
.grid-push-4  { left: 31.555%; }
.grid-push-5  { left: 40.111%; }
.grid-push-6  { left: 48.666%; }
.grid-push-7  { left: 57.222%; }
.grid-push-8  { left: 65.777%; }
.grid-push-9  { left: 74.333%; }
.grid-push-10 { left: 82.888%; }

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks { margin-bottom: 20px; }

.blocks > * {
    float: left;
    margin-bottom: 25px;
}

.blocks-1up > * {
    width: 96%;
    margin-right: 4%;
    margin-bottom: 0;
}

.blocks-2up { margin-left: -6.5%; }

.blocks-2up > * {
    width: 43.5%;
    margin-left: 6.5%;
}

.blocks-3up { margin-left: -2%; }

.blocks-3up > * {
    width: 31.333%;
    margin-left: 2%;
}

.blocks-4up { margin-left: -1%; }

.blocks-4up > * {
    width: 24%;
    margin-left: 1%;
}

.block-bd { overflow: hidden; }

.block-img + .block-bd {
    margin-top: 2px;
}

.block-bd + .block-img {
    margin-top: 18px;
}

/* Block Featured */
.block-feat .block-copy {
    line-height: 1.7;
    height: auto;
}

.block-copy {
    height: 50px;
    overflow: hidden;
}

.block-copy > .link-more {
    float: none;
    margin-left: 5px;
}

.block-copy > .link-more .icon {
    display: inline-block;
    float: none;
}

/* ---------------------------------------------------------------------
 Utility Styles
------------------------------------------------------------------------ */
.is-hidden {
    position: absolute;
    left: -9999px;
}

/* Clearfix */
.clearfix:after,
.grid-row:after,
.blocks:after,
.media:after,
.slide:after {
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
    content: '.';
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
html, body {height: 100%;}

body {
    background: url(../images/bg-body.jpg) no-repeat fixed 50% top #333333;
    font: 12px/1.4 Helvetica, Arial, sans-serif;
    color: #4e4e4e;
}

img { max-width: 100% }

input[type='submit'], input[type='image'], label[for], select, button, a > * { cursor: pointer; }

a {
    color: #4e4e4e;
    text-decoration: none;
    -moz-transition:
        color 0.15s ease-in-out,
        opacity 0.15s ease-in-out 0s;
    -webkit-transition:
        color 0.15s ease-in-out,
        opacity 0.15s ease-in-out 0s;
    -ms-transition:
        color 0.15s ease-in-out,
        opacity 0.15s ease-in-out 0s;
    -o-transition:
        color 0.15s ease-in-out,
        opacity 0.15s ease-in-out 0s;
    transition:
        color 0.15s ease-in-out,
        opacity 0.15s ease-in-out 0s;
}

a:hover,
a:focus { text-decoration: underline; }

.wrapper {
    width: 960px;
    margin: 0 auto;
    min-height: 100%;
    background: url(../images/bg-content.png) repeat-y #ffffff;
}

.wrapper-inner { padding: 15px 30px 0; }

.sep-bottom {
    border-bottom: 1px solid rgba(104,104,104,.2);
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.article-cat {
    font-size: 12px;
    color: #777777;
    float: left;
}

.link-more {
    font-size: 11px;
    float: right;
    margin-top: 2px;
    margin-right: 5px;
}

/* Image Wrap */
.img-wrap {
    padding: 3px;
    -moz-box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, .2);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, .2);
    -ms-box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, .2);
    -o-box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, .2);
    box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, .2);
    display: inline-block;
}

.img-wrap img { display: block; }

/* Text Inputs */
input[type=text] {
    float: left;
    -moz-box-shadow: inset 2px 2px 2px -1px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 2px 2px 2px -1px rgba(0,0,0,.3);
    -ms-box-shadow: inset 2px 2px 2px -1px rgba(0,0,0,.3);
    -o-box-shadow: inset 2px 2px 2px -1px rgba(0,0,0,.3);
    box-shadow: inset 2px 2px 2px -1px rgba(0,0,0,.3);
    margin: 0;
    line-height: normal !important;
}

.input-text {
    padding: 8px 10px;
    height: 19px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #bfbfbf;
}

.input-text-alt {
    border: 1px solid #5f5f5f;
    padding: 4px 10px 5px;
    width: 135px;
    font-size: 13px;
    font-weight: bold;
}

.input-text-alt::-webkit-input-placeholder,
.input-text-alt:-moz-input-placeholder { color: #858782; }

/* ---------------------------------------------------------------------
 List Styles
------------------------------------------------------------------------ */
.h-list { overflow: hidden; }

.h-list > li { float: left; }

.h-list-piped { line-height: 1; }

.h-list-piped > li + li {
    margin-left: 8px;
    border-left: 1px solid #ffffff;
    padding-left: 8px;
}

/* Category Lists */
.cat-list { line-height: 1.8; }

.list-wrap + .list-wrap { margin-top: 19px; }

.list-wrap .sep-bottom { padding-bottom: 1px; }

.entry-count {
    font-size: 8px;
    opacity: .5;
    float: right;
    text-transform: uppercase;
    padding-top: 4px;
}

/* ---------------------------------------------------------------------
 Media Element Styles
------------------------------------------------------------------------ */
.media { margin-bottom: 20px; }

.media-elem {
    float: left;
    margin: 0 15px 0 0;
}

.media-elem img {
    display: block;
    max-width: 100%;
    width: auto;
}

.media-nowrap .media-bd {
    overflow: hidden;
}

.media-flip .media-elem {
    float: right;
    margin: 0 0 0 15px;
}

/* Media Featured */
.media-feat {
    margin-bottom: 0;
}

.media-feat .media-bd {
    font-size: 14px;
    line-height: 1.4;
    padding-top: 25px;
}

/* ---------------------------------------------------------------------
 Panel Styles
------------------------------------------------------------------------ */
.panel {
    padding: 14px 19px 17px;
    border: 1px solid #dcdbdb;
    background: #f2f2f2;
}

/* Newsletter Sign Up */
.panel-newsletter {
    width: 260px;
    margin-left: -15px;
}

.panel-hdg {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------------
 Font/Heading Styles
------------------------------------------------------------------------ */
.hdg {
    color: #2e2e2e;
    font-weight: bold;
}

.hdg-2-feat {
    font-size: 60px;
    letter-spacing: -3px;
    line-height: 1;
    padding-top: 12px;
}

.hdg-2 { font-size: 14px; }

.hdg-3-feat { font-size: 22px; }

.hdg-3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.hdg-3-alt { font-size: 14px; }

.hdg-3-alt2 { font-size: 12px; }

.hdg-3-alt3 {
    font-size: 18px;
    margin-bottom: 6px;
}

.hdg-4 {
    font-size: 13px;
    font-weight: bold;
}

.serif {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
}

.san-serif-alt { font-family: Verdana, Geneva, sans-serif; }

.hdg-caps { text-transform: uppercase; }

.txt-rev,
.txt-rev a { color: #ffffff; }
.txt-ital { font-style: italic; }

/* Block Headings */
.hdg-block {
    overflow: hidden;
    margin-bottom: 15px;
}

.hdg-block-secondary {
    padding: 4px 10px 1px;
    background: #f9d373;
}

.hdg-block-tertiary {
    padding: 4px 10px 2px;
    background: rgba(90,69,221,.15);
}

/* Block Separators*/
.hdg-sep-feat {
    padding-bottom: 1px;
    border-bottom: 2px solid rgba(221,69,72,.9);
    margin-bottom: 8px;
}

.hdg-sep-primary {
    padding-bottom: 1px;
    border-bottom: 2px solid rgba(184,214,76,.9);
    margin-bottom: 8px;
}

.hdg-sep-secondary {
    padding-bottom: 1px;
    border-bottom: 2px solid #f9d373;
    margin-bottom: 8px;
}

.hdg-sep-tertiary {
    padding-bottom: 1px;
    border-bottom: 2px solid rgba(90,69,221,.15);
    margin-bottom: 8px;
}

/* Heading with Link */
.hdg-block .hdg {
    float: left;
}

.hdg-block .hdg + a {
    float: right;
    font-weight: bold;
}

/* ---------------------------------------------------------------------
 Button Styles
------------------------------------------------------------------------ */
.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    height: 19px;
    line-height: 22px;
    font-weight: bold;
    background: url(../images/btn-arrow.png) no-repeat right top #cfe386;
    border: 1px solid #d8eb93;
    padding: 8px 26px 8px 10px;
    -moz-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    text-decoration: none;
    color: #111111;
}

.btn-icon {
    width: 125px;
    padding: 8px 25px 8px 13px;
}

.btn-submit {
    border: 1px solid rgba(0,0,0,.15);
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px 0 4px;
    width: 172px;
    text-align: center;
    background: #ededed;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1a000000',GradientType=0 );
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

input.btn-submit,
button.btn-submit {
    font-family: Helvetica, Arial, sans-serif;
    width: 174px;
    height: 29px;
    color: #4e4e4e;
}

.form-search-site button {
    border: 1px solid #5f5f5f;
    border-left-width: 1px;
    border-left-color: #732426;
    border-left-color: #732426;
    text-indent: -9999px;
    background: url(../images/icon-search.png) no-repeat center center #dd4548;
    width: 28px;
    height: 27px;
    margin-left: -2px;
    display: block;
    float: left;
}

button.btn,
input.btn { color: #444444; }

input[type=text] + .btn {
    box-shadow: none;
    border: 1px solid #aebf70;
    height: 37px;
    line-height: 11px;
    margin-left: -1px;
    margin-right: 0;
}

/* ---------------------------------------------------------------------
 Icon Styles
------------------------------------------------------------------------ */
.icon {
    display: block;
    background-image: url(../images/sprite-icons.png);
    background-repeat: no-repeat;
}

/* Main Navigation Icons */
.icon-home {
    width: 16px;
    height: 15px;
    text-indent: -9999px;
    margin-top: 9px;
    margin-right: 12px;
}
.nav-main a:hover .icon-home { background-position: 0 -19px; }

.icon-nav-arrow {
    background-position: -61px 0;
    width: 8px;
    height: 13px;
    vertical-align: top;
    margin-top: 10px;
    padding-left: 5px;
    float: right;
}
.nav-main a:hover .icon-nav-arrow { background-position: -61px -19px; }

/* Main Navigation Alt Icons */
.nav-main-alt li + li { margin-left: 36px; }

.nav-main-alt a { padding-left: 5px; }

.nav-main-alt .icon {
    float: left;
    height: 15px;
}

.icon-video {
    width: 13px;
    margin-top: 9px;
    background-position: -16px 0;
}
.nav-main-alt a:hover .icon-video { background-position: -16px -19px; }

.icon-social {
    width: 16px;
    margin-top: 10px;
    background-position: -29px 0;
}
.nav-main-alt a:hover .icon-social { background-position: -29px -19px; }

.icon-store {
    width: 16px;
    margin-top: 11px;
    background-position: -45px 0;
}
.nav-main-alt a:hover .icon-store { background-position: -45px -19px; }

/* Button Icons */
.btn .btn-icon-feed {
    background-position: -74px 0;
    width: 20px;
    height: 19px;
    float: left;
    margin-right: 5px;
}
.btn:hover .btn-icon-feed { background-position: -74px -19px; }

.btn .btn-icon-recipe {
    background-position: -94px 0;
    width: 21px;
    height: 15px;
    margin-top: 3px;
    float: left;
    margin-right: 5px;
}
.btn:hover .btn-icon-recipe { background-position: -94px -19px; }

/* Comment Count Icon */
.icon-comment {
    background-position: -114px 0;
    width: 10px;
    height: 9px;
    float: left;
    position: absolute;
    top: 50%;
    left: -15px;
    margin-top: -4px;
}

/* Link Icons */
.icon-cat-arrow {
    background-position: -124px 0;
    float: right;
    width: 11px;
    height: 6px;
    margin-left: 4px;
    margin-top: 7px;
}

.icon-more-arrow {
    background-position: -135px 0;
    float: right;
    width: 7px;
    height: 7px;
    margin-top: 4px;
    margin-left: 4px;
}

.icon-more-arrow-dk {
    background-position: -204px 0;
    float: right;
    width: 6px;
    height: 6px;
    margin-top: 5px;
    margin-left: 4px;
}

.icon-more-arrow-rev {
    background-position: -198px 0;
    float: right;
    width: 6px;
    height: 6px;
    margin-top: 4px;
    margin-left: 6px;
}

/* Heading Icons */
.icon-email {
    background-position: -142px 0;
    width: 16px;
    height: 11px;
    float: left;
    margin-top: 3px;
    margin-right: 7px;
}

.icon-community {
    background-position: -158px 0;
    width: 24px;
    height: 11px;
    float: left;
    margin-top: 5px;
    margin-right: 6px;
}

.icon-poll {
    background-position: -182px 0;
    width: 16px;
    height: 12px;
    float: left;
    margin-top: 5px;
    margin-right: 7px;
}

/* ---------------------------------------------------------------------
 Header Styles
------------------------------------------------------------------------ */
.header {
    width: 960px;
    margin: 0 auto;
}

.header .wrapper-inner {
    padding-top: 10px;
    padding-right: 0;
}

.brand {
    float: left;
    margin-top: 10px;
    margin-bottom: 19px;
}

/* Toolbox */
.toolbox { float: right; }

.toolbox .h-list {
    margin: 7px 10px 0 0;
    float: left;
}

.form-search-site {
    overflow: hidden;
    float: right;
    margin-bottom: 14px;
}

.toolbox .media {
    clear: both;
    margin-left: 50px;
    margin-bottom: 15px;
}

.toolbox .media-bd {
    text-align: right;
    padding-top: 4px;
    line-height: 1.3;
}

.toolbox .media-bd .hdg-4 { margin-bottom: 4px; }

.toolbox .media-img { margin-left: 10px; }

/* Nav Main */
.nav-main {
    clear: both;
    overflow: hidden;
    background: rgba(27,43,26,.75);
    line-height: 34px;
    padding: 0 26px;
    border-left: 2px solid rgba(27,43,26,.75);
    border-right: 2px solid rgba(27,43,26,.75);
}

.h-list .nav-main-alt { float: right; }

.nav-main li {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.nav-main > li + li { margin-left: 25px; }

/* ---------------------------------------------------------------------
 Carousel Styles
------------------------------------------------------------------------ */
.carousel { position: relative; }

.slide-container {
    position: relative;
    height: 372px;
 }

.slide {
    position: absolute;
    z-index: 99;
}

.carousel-nav-wrap {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    width: 96%;
    z-index: 100;
}

.carousel-nav {
    float: left;
    left: 50%;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    position: relative;
}

.carousel-nav > li {
    position: relative;
    right: 50%;
}

.carousel-nav ul > li + li { margin-left: 5px; }

.carousel-nav-item .icon {
    background-position: -210px 0;
    width: 8px;
    height: 8px;
}

.carousel-nav-item:hover .icon,
.carousel-nav .active .icon { background-position: -218px 0; }

.carousel-nav-prev .icon {
    background-position: -226px 0;
    width: 6px;
    height: 8px;
    margin-right: 8px;
}

.carousel-nav-next .icon {
    background-position: -232px 0;
    width: 6px;
    height: 8px;
    margin-left: 8px;
}

/* ---------------------------------------------------------------------
 Content Styles
------------------------------------------------------------------------ */
.content {
    border-top: 2px solid #ffffff;
    padding-bottom: 100px; /* Value matches footer height for sticky footer */
}

.ribbon {
    background: #4b4a48;
    margin: 0 -45px 35px;
    padding: 0 15px;
    border-left: 2px solid rgba(255,255,255,.1);
    border-right: 2px solid rgba(255,255,255,.1);
    position: relative;
}

.ribbon:before {
    position: absolute;
    content: "";
    left: -2px;
    top: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #000000;
    border-left: 15px solid transparent;
}

.ribbon:after {
    position: absolute;
    content: "";
    right: -2px;
    top: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #000000;
    border-right: 15px solid transparent;
}

.ribbon-wrap {
    padding: 15px 28px 12px;
    position: relative;
}

.ribbon-wrap:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 19px;
    top: -19px;
    left: 0;
    background: url(../images/bg-ribbon-shadow.png) repeat-x 0 0;
}

.ribbon-wrap:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 19px;
    bottom: -19px;
    left: 0;
    background: url(../images/bg-ribbon-shadow.png) repeat-x 0 -19px;
}

.form-newsletter input[type=text] { width: 154px; }

/* Comment Count */
.comment-count {
    float: right;
    position: relative;
}

.comment-count a {
    color: rgba(0,0,0,.6);
    font-size: 12px;
    font-weight: normal;
}

/* Category Lists */
.column-wrap { overflow: hidden; }

.column-sep {
    border-left: 1px solid rgba(169,169,169,.3);
    float: left;
    padding-left: 24px;
}

.column-wrap .column-sep {
    width: 41%;
    /* For equal column height */
    margin-bottom: -99999px;
    padding-bottom: 99999px
}

.column-sep + .column-sep {
    margin-left: 24px;
}

/* ---------------------------------------------------------------------
 Advertisement Styles
------------------------------------------------------------------------ */
.promo-wrap { margin-bottom: 4px; }

.promo-feat { margin-left: -15px; }

.promo-wrap a { display: block; }

.promo-wrap a + a { margin-top: 10px; }

.promo-banner img { 
    max-width: 925px;
    margin-left: -13px;
}

.promo-feat img { max-width: 300px; }

/* ---------------------------------------------------------------------
 Poll Styles
------------------------------------------------------------------------ */
.poll {
    line-height: 2.4;
    margin-bottom: 17px;
}

.poll-list { margin: 10px 0; }

/* ---------------------------------------------------------------------
 Search Bar Styles
------------------------------------------------------------------------ */
.form-search-recipies {
    clear: both;
    float: left;
    margin-right: 23px;
    margin-bottom: 6px;
}

.form-search-recipies .input-text { width: 428px; }

.form-search-recipies .input-text::-webkit-input-placeholder,
.form-search-recipies .input-text:-moz-input-placeholder { color: #333333; }

.search-bar .hdg-block { margin-bottom: 4px; }

.search-bar > .btn { float: left; }

.search-bar .btn + .btn { margin-left: 15px; }

.help {
    clear: both;
    color: rgba(255,255,255,.5);
    overflow: hidden;
}

.tips {
    font-size: 12px;
    float: left;
}

.login {
    font-size: 11px;
    float: right;
    padding-top: 3px;
}

.login a {
    color: rgba(255,255,255,.5);
    text-decoration: underline;
}

/* ---------------------------------------------------------------------
 Footer Styles
------------------------------------------------------------------------ */
.footer {
    background: #2f2f2f;
    height: 100px;
    font-size: 11px;
    width: 960px;
    margin: 0 auto;
    position: relative;
    margin-top: -100px; /* negative value of footer height for sticky footer */
    clear: both;
}

.footer .wrapper-inner {
    padding-top: 25px;
    overflow: hidden;
}

.footer .h-list-piped li + li { border-left: 1px solid rgba(195,195,195,.1); }

.copyright {
    display: block;
    margin-bottom: 5px;
}

.nav-footer { float: left; }

.nav-footer .h-list-piped li + li {
    margin-left: 3px;
    padding-left: 3px;
}

.affiliates {
    float: right;
    margin-top: 4px;
}

.affiliates .h-list-piped li { padding: 2px 0; }

.affiliates .h-list-piped li + li {
    margin-left: 15px;
    padding-left: 15px;
}